<% include ../partials/header %>
<h1>Add contact</h1>
<form method="POST" action="/addcontact">
<input type="text" name="data[contactNo]" placeholder="number">
<input type="text" name="data[email]" placeholder="****">
<button>Add+</button>
</form>
<% include ../partials/footer %>