<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>chatting</title>
    
    <script
  src="http://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <style>
     #chat{
       height:500px;
       overflow:auto;
       }
       #contentWrap{
           display:none;
       }
       #chatWrap{
        float:left;
           border:1px #000 solid;
       }
    .error{
        color:red;
    }
    .whisper{
        color:gray;
    }
    </style>
    
   
</head>
<body>

    <%=data %>

    <div id="nickWrap">
       
        <p id="nickError"></p>
        <form id="setNick">
            <input size="35" style="display:none" value="<%=data%>"id="nickname" ></input>
            <input type=submit value="click here to start conversation"></input>

        </form>
    </div>

<div id="contentWrap">
    <div id="chatWrap">
        <div id="chat"></div>
        <form id=send-message>
                <input size="35" id="message"></input>
                <input type=submit></input>
    
        </form>
    </div>
    <div id="users"></div>
</div>


<a href="/logout">exit</a>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
 
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

<script>
$(document).ready(function () {

var socket=io.connect();
var $nickForm=$("#setNick");
var $nickError=$("#nickError");
var $nickBox=$("#nickname");
var $users=$("#users");
var $messageForm=$("#send-message");
var $messageBox=$("#message");
var $chat=$("#chat");

$nickForm.submit(function(e){
    e.preventDefault();
    socket.emit("new user",$nickBox.val(),function(data){
        if(data){
            $("#nickWrap").hide();
            $("#contentWrap").show();

        }else{
            $nickError.html("that username is already taken !try again!!")
        }
    })
    $nickBox.val('')
})

socket.on('username',function(data){
    var html='';
    for(i=0;i<data.length;i++){
        html+=data[i]+'<br/>'
    }
    $users.html(html)
})


$messageForm.submit(function(e){
    e.preventDefault();
    socket.emit("send message",$messageBox.val(),function(data){
        $chat.append('<span class="error" ><b>'+data+'</span><br/>');

    })
    $messageBox.val('')
})

socket.on("load old msgs",function(docs){
  
  for(var i=docs.length-1;i>=0;i--)
  {
   displayMsg(docs[i])
  }

})


socket.on("new message",function(data){
    displayMsg(data)
})


function displayMsg(data){
    $chat.append('<span class="msg" ><b>'+data.nick+':<b/>'+data.msg+'</span><br/>')
}

socket.on("whisper",function(data){
    $chat.append('<span class="whisper" ><b>'+data.nick+':<b/>'+data.msg+'</span><br/>')
})


})

</script>
   

</body>
</html>