<% include ./partials/header %>

<div id="main">
<div class="main">
    <form action="/customer_care_login" method="post">

        <h1>
         Login
        </h1>

       

 
        <div class="inset">
         
            <p>
                <label for="email">EMAIL ADDRESS</label>
                <input type="text" name="email" placeholder="" />
            </p>
            <p>
                <label for="password">PASSWORD</label>
                <input type="password" name="password" placeholder="" />
            </p>

        </div>

        <p class="p-container">
            <span><a href="/customer_care">Not yet register??</a></span>
            <input type="submit" class="login-log" style=" background: #3bb5ec; border: #3bb5ec;" value="Login">
        </p>
    </form>
</div>
</div>
<% include ./partials/footer %>
