<% include ./partials/header %>
<div class="container logo-container">
    <div class="row">
        <div class="col-md-12">
                <nav class="navbar" id="nav_bar" role="navigation">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle navbar_icon" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span> 
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                     
                    </div>



                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <ul class="nav navbar-nav navbar-right">
                            <li style="padding-right: 50px;">
                                <h2 class="reg-div">
                                    <a href="/">
                                        Login
                                    </a>
                                </h2>

                            </li>


                            <li class="reg_link2">
                                <h2 class="reg-div">
                                    <a href="/signup">
                                        Register
                                    </a>
                                </h2>
                            </li>
                        </ul>
                    </div>

                </nav>
            </div>

    </div>
</div>

<div id="main">
<div class="main">
    <form action="/customer_care_login" method="post">

        <h1>
         Login
        </h1>

        <h1>
            <a href="/auth/facebook" class="href" id="facebook-btn"class="btn btn-social btn-facebook btn-lg">
              <i class="fa fa-facebook"></i>  Login via facebook
            </a>
        </h1>

 
        <div class="inset">
         
            <p>
                <label for="email">EMAIL ADDRESS</label>
                <input type="text" name="email" placeholder="" />
            </p>
            <p>
                <label for="password">PASSWORD</label>
                <input type="password" name="password" placeholder="" />
            </p>

        </div>

        <p class="p-container">
            <span><a href="/customer_care_register">Not yet register??</a></span>
            <input type="submit" class="login-log" style=" background: #3bb5ec; border: #3bb5ec;" value="Login">
        </p>
    </form>
</div>
</div>
<% include ./partials/footer %>
