<% include ./partials/header %>

  <base href="/">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
    
<div id="main">
    <div class="main">
        <form action="/customer_care_register" method="post">

            <!-- <h1>
                <a href="/auth/facebook" class="href" id="facebook-btn"class="btn btn-social btn-facebook btn-lg">
                  <i class="fa fa-facebook"></i>  sign up with facebook
                </a>
            </h1>
            <h1>
                <a href="/auth/google" class="href" id="google-btn"class="btn btn-social btn-gplus btn-lg">
                  <i class="fa fa-google-plus"></i>  sign up with google
                </a>
            </h1> -->
            <h1>
                Register
            </h1>

          



            <div class="inset">
                <p>
                  <label for="username">USERNAME</label>
                  <input type="text" name="username" class="" placeholder="">
                </p>

                <p>
                    <label for="email">EMAIL ADDRESS</label>
                    <input type="text" name="email" placeholder="" />
                </p>
                <p>
                    <label for="password">PASSWORD</label>
                    <input type="password" name="password" placeholder="" />
                </p>

            </div>

            <p class="p-container">
                <span><a href="/customer_care_login">Login</a></span>
                <input type="submit" class="login-log" style=" background: #3bb5ec; border: #3bb5ec;" value="Register">
            </p>
        </form>
    </div>
</div>

<% include ./partials/footer %>
