<% include ./partials/header %>
<style>
body{
margin:0;
padding:0;
font-family:sans-serif;
background-image:url(./college2.jpg);
background-size:cover;
}

</style>
<form class="box" action="/login" method="POST">
    
    <h1>Login</h1>

    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
   <input type="submit" value="Login">
</form>

<% include ./partials/footer %>