
<h1>SIGNUP</h1>
<form method="POST" action="/signup">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="*****">
   <button>SUBMIT</button>
</form>