<h1>welcome for personal detail
    Verify via email
</h1>
<form method="POST" action="/student_personal_detail">
    <input type="email" name="user_email" placeholder="Enter you registered email id">
    <button>Verify email</button>
</form>
