<% include ./partials/header %>

<form method="POST" action="/suggestions">
    <h1>Hi! Help us to get better    :)</h1>

    <input type="text" name="submitter" placeholder="Your name">
    <textarea name="suggestion" cols="100" rows="20"placeholder="Your advice is "></textarea>
<button>Submit</button>
</form>
<% include ./partials/footer %>
