<h1>hey enter your secret token here</h1>

<form action="/<%=data._id%>/verify" method="POST">
    <input type="text" name="secret" placeholder="enter the secret token">
    <button>Get the details</button>
 
</form>

